.iconDiv {
    display: flex;
    gap: 16px;
    align-items: center;
}

.iconDiv img {
    width: 24px;
    height: 24px;
}

.cartQnt {
    background: #F34C3F;
    font-size: 9px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    line-height: 16px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    margin-top: -5px;
    margin-left: -1.5px;
}