.cardLayout1 {
    display: block;
    max-width: 422px;
    padding: 8px;
    cursor: pointer;
}
.cardImgDiv {
    width: 100%;
    background-color: #F9F9F8;
}
.cardImgDiv img {
    width: 100%;
    mix-blend-mode: multiply;
}
.cardLayout1:hover {
    box-shadow: 0px 0px 8px grey;
}
.cardImgDiv img:hover {
    transform: scale(1.03);
    transition: 0.3s ease-in-out;
}
.cardLayout1 h3,
.cardLayout1 p {
    text-align: left;
    font-size: 14px;
    font-family: Raleway, sans-serif;
    color: #000;
    font-weight: 600;
}
.cardLayout1 .color {
    font-weight: 300;
}
.cardLayout1 .priceC {
    font-weight: 500;
    margin-top: 10px;
}
.gridProduct{
    grid-template-columns: repeat(3,1fr);
}
@media only screen and (max-width: 768px) {
    .gridProduct{
        grid-template-columns: repeat(2,1fr);
    }
}