.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 40px 130px;
}

@media all and (min-width: 479px) and (max-width: 799px) {
  .container {
    /* grid-template-columns: 1fr 1fr; */
    display: block;
    padding: 10px 0;
  }
}

@media all and (min-width: 800px) and (max-width: 1250px) {
  .container {
    padding: 0;
  }
}
