.menuLists:hover {
    color: black;
    font-weight: 600;
}

.chakra-popover__popper.css-1qq679y {
    width: 100%;
    display: flex;
    justify-content: center;
    inset: 6px auto auto 0px;
}

.chakra-popover__content.css-sjj62m {
    width: 100%;
}

.menuBtn {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}