.logoDiv {
    display: flex;
    gap: 8px;
}

.logoDiv img {
    width: 30px;
    height: 30px;
}

.h1 {
    font-size: 22px;
    font-weight: 600;
    color: #111;
    letter-spacing: .01em;
    font-family: 'Raleway', sans-serif;
}

/*Responsive*/
@media only screen and (max-width: 768px) {
    .logoDiv {
        display: block;
        text-align: center;
    }

    .logoDiv img {
        display: block;
        margin: auto;
    }

    .h1 {
        font-size: 16px;
    }
}