.navGridAc {
    display: block;
}

.navGridAc .name {
    text-align: start;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    color: #000000;
    font-weight: 500;
}

.access {
    display: block;
    cursor: pointer;
    margin-top: 8px;
}

.mgt {
    margin-top: 32px;
}

.access p {
    text-align: start;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    color: #000000;
}

.access p:hover {
    transform: scale(1.0);
    transition: 0.2s ease-in-out;
    font-weight: 500;
    color: black;
}