.gridlayout {
    display: flex;
    justify-content: center;
    padding: 8px 10px 0px 10px;
    gap: 4px;
}

@media only screen and (max-width: 496px) {
    .gridlayout {
        justify-content: flex-start;
        overflow: scroll;
        overflow-y: hidden;
        padding-bottom: 8px;
    }

    .gridlayout::-webkit-scrollbar {
        display: none;
    }
}