.dividerDiv {
    display: flex;
    justify-content: start;
    gap: 16px;
    padding: 24px 40px;
    align-items: center;
}

.dividerDiv2 {
    display: grid;
    padding: 16px 32px;
    align-items: center;
    gap: 8px;
}

.dividerDiv h1,
.dividerDiv2 {
    font-size: 29px;
    text-align: left;
    font-weight: 500;
    font-family: Raleway, sans-serif;
}

.dividerDiv p,
.dividerDiv2 p {
    font-size: 14px;
    font-family: Raleway, sans-serif;
}

.dividerDiv span,
.dividerDiv2 span {
    font-size: 14px;
    font-family: Raleway, sans-serif;
    font-weight: 600;
}