


.checkMain{
width: 70%;
margin: auto;
margin-bottom: 100px;
}

.item1{
    display:flex;
    justify-content:space-between;
}


.billingAnddelivery{
    display:flex;
    justify-content:center;
    /* border: 2px solid green; */
    width:100%;
    margin:auto;
    margin-top:40px;
}

#bill{
    font-size: 25px;
    font-weight: 600;

}
.billing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
    width:80%;
}

.delivery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid rgb(7, 96, 249); */
    width:80%;
}

.shippingMethod{
width:85%;
}

.shipC1{
    display:flex;
    justify-content:space-between;
}

#ship1{
    font-size: 25px;
    font-weight: 600;
}

.billingSummary{

}

.total1{

}
.tot1{
    display:flex;
    justify-content:space-between;
}

#tot2{
font-size:20px;
}
#tot3{
font-size:20px;
}

#cop1{
    font-size:20px;
    font-weight:600;
    color:rgb(23, 130, 37);
}
.coupon1{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
}



.payment1{
    margin-top: 10px;
    /* border: 1px solid red; */
}

.payimg{
    display: flex;
    gap: 0px 15px;
    margin-top: 10px;
    cursor: pointer;
}

.allpaylogo{
    display: flex;
    gap: 0 20px;
    margin-top:15px;
}

.pay1{
    margin-top: 30px;
    border: 1px solid rgb(0, 0, 0);
    padding: 15px;
    width:100%
}


.paybox1{
    display:flex;
}






@media only screen and (max-width: 600px) {

    .billingAnddelivery{
        flex-direction: column;
        width: 100%;
    }

    .billing{
        width:100%
    }

    .delivery{
        width: 100%;
    }

    .paybox1{
    display:flex;
    flex-direction:column;
    gap:20px 0px;
    }

    .shippingMethod{
    width: 100%;
    }
}